# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\simple_login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
